/* at-rule-property-required-list */
@font-face {
	src: url("test.woff2") format("woff2");
}

/* color-hex-alpha */
.color-hex-alpha {
	color: #fffa;
}

/* color-named */
.color-named {
	color: black;
}

/* declaration-no-important */
.declaration-no-important {
	color: #000 !important;
}

/* declaration-property-unit-allowed-list */
.declaration-property-unit-allowed-list {
	line-height: 1em;
}

/* declaration-property-value-disallowed-list */
.declaration-property-value-disallowed-list {
	text-indent: -1em;
}

/* function-url-no-scheme-relative */
.function-url-no-scheme-relative {
	background-image: url("//example.com/file.jpg");
}

/* property-disallowed-list */
.property-disallowed-list {
	white-space: nowrap;
}

/* property-layout-mappings */
.property-layout-mappings {
	margin-left: 0;
}

/* selector-max-id */
#selector-max-id {
}

/* selector-max-universal */
* > * {
}

/* display-notation */
.display-notation {
	display: block;
}

/* font-weight-notation */
.font-weight-notation {
	font-weight: normal;
}

/* relative-selector-nesting-notation */
.relative-selector-nesting-notation {
	.foo {
	}
}

/* declaration-block-no-redundant-longhand-properties */
.declaration-block-no-redundant-longhand-properties {
	padding-block-start: 10px;
	padding-block-end: 10px;
}
