/* color-hex-alpha */
.color-hex-alpha {
	color: #fffa;
}

/* color-named */
.color-named {
	color: black;
}

/* declaration-no-important */
.declaration-no-important {
	color: #000 !important;
}

/* declaration-property-value-disallowed-list */
.declaration-property-value-disallowed-list {
	display: block;
	float: left;
	clear: left;
	resize: horizontal;
	text-align: left;
}

/* declaration-property-value-no-unknown */
.declaration-property-value-no-unknown {
	inset-block-start: unknown;
}

/* function-url-no-scheme-relative */
.function-url-no-scheme-relative {
	background-image: url("//example.com/file.jpg");
}

/* media-feature-name-value-no-unknown */
@media (color: red) {
}

/* property-disallowed-list */
.property-disallowed-list1 {
	top: 0;
	margin-top: 0;
	border-top: 0;
	border-top-width: 0;
	border-top-style: none;
	border-top-right-radius: 0;
	padding-top: 0;
	width: 0;
	min-width: 0;
	max-width: 0;
	height: 0;
	min-height: 0;
	max-height: 0;
	overscroll-behavior-x: auto;
}

/* selector-max-id */
#selector-max-id {
}

/* selector-max-universal */
* > * {
}
