/* no-descending-specificity */
.container .no-descending-specificity {
	inset-block-start: 10px;
}

.no-descending-specificity {
	inset-block-start: 0;
}

/* block-no-empty */
.block-no-empty {
}

/* property-layout-mappings */
.property-layout-mappings {
	margin-inline-start: 0;
	overflow-x: visible;
	overflow-inline: visible;
}
