/* at-rule-empty-line-before */
@import url("foo1");
@import url("foo2");

@import url("bar");

.at-rule-empty-line-before {
	/* comment */
	@nest & {
	}
}

/* at-rule-property-required-list */
@font-face {
	font-family: test;
	src: url("test.woff2") format("woff2");
}

/* color-hex-alpha */
.color-hex-alpha1 {
	color: #000;
}

.color-hex-alpha2 {
	color: #010101;
}

/* declaration-property-value-disallowed-list */
.declaration-property-value-disallowed-list {
	display: block flow;
	float: inline-start;
	clear: inline-start;
	resize: inline;
	text-align: start;
}

/* value-keyword-case */
.value-keyword-case {
	fill: currentColor;
}

/* selector-max-universal */
* {
}

.selector-max-universal > * + * {
}

/* custom-property-pattern */
--foo1-1: 1;
--_foo1-1: 1;

/* font-weight-notation */
.font-weight-notation {
	font-weight: 500;
}
