/* at-rule-empty-line-before */
@import url("foo1");
@import url("foo2");

@import url("bar");

.at-rule-empty-line-before {
	/* comment */
	@media print {
	}
}

/* at-rule-property-required-list */
@font-face {
	font-family: test;
	src: url("test.woff2") format("woff2");
}

/* color-hex-alpha */
.color-hex-alpha1 {
	color: #000;
}

.color-hex-alpha2 {
	color: #010101;
}

/* property-disallowed-list */
.property-disallowed-list {
	white-space-collapse: preserve;
}

/* value-keyword-case */
.value-keyword-case {
	fill: currentColor;
}

/* property-layout-mappings */
.property-layout-mappings {
	margin-inline-start: 0;
	overflow-x: visible;
	overflow-inline: visible;
}

/* selector-max-universal */
* {
}

.selector-max-universal > * + * {
}

/* custom-property-pattern */
:root {
	--foo1-1: 1;
	--_foo1-1: 1;
}

/* display-notation */
.display-notation {
	display: block flow;
}

/* font-weight-notation */
.font-weight-notation {
	font-weight: 500;
}

/* relative-selector-nesting-notation */
.relative-selector-nesting-notation {
	&.foo {
	}
}

/* declaration-block-no-redundant-longhand-properties */
.declaration-block-no-redundant-longhand-properties {
	line-height: 1;
	font-family: serif;
	font-size: 10px;
	font-stretch: condensed;
	font-weight: 100;
	font-variant: small-caps;
	font-style: italic;
}
