.property {
	overflow-x: visible;
	overflow-inline: visible;
}

.value {
	float: inline-start;
	clear: inline-start;
	resize: inline;
	caption-side: top;
	text-align: start;
}

.unit {
	inline-size: 10dvi;
}
