name: ESLint

on:
  pull_request:
    paths:
      - 'packages/eslint/__tests__/**/*.{js,ts}'
      - 'packages/eslint/rules/**/*.js'
      - 'packages/eslint/eslint.config.js'
      - 'packages/eslint/package.json'
      - 'packages/eslint/tsconfig.json'
  workflow_dispatch:

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '24'
      - run: npm ci
      - run: npm run lint -w '@w0s/eslint-config'
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '24'
      - run: npm ci
      - run: npm test -w '@w0s/eslint-config'
